

<!-- <ion-content class="ion-padding"> -->

  <!-- <div class="section-title">Know Case of (K/C/O)</div> -->

<!-- DESKTOP TABLE -->
<div class="desktop-table">

  <div class="table-header">
    <span>#</span>
    <span>Select</span>
    <span>Code</span>
    <span>Case Name</span>
    <span>Medications</span>
    <span>Treatment</span>
  </div>

  <div class="table-row" *ngFor="let item of caseslist; let i = index">

    <span>{{ i + 1 }}</span>

    <ion-checkbox
      [(ngModel)]="item.CaseCheck"
      (ionChange)="AddOrRemoveCaseCheck($event,i)">
    </ion-checkbox>

    <span>{{ item.caseCode }}</span>

    <span>{{ item.caseName }}</span>

    <ion-input
      [(ngModel)]="item.Medication"
      placeholder="Enter">
    </ion-input>

    <ion-checkbox
      [checked]="item.TreatmentSts == 'Y'"
      (ionChange)="P_REGULAR($event,i)">
    </ion-checkbox>

  </div>

</div>

<!-- MOBILE CARDS (your existing UI) -->
<div class="mobile-card-view">

  <div class="case-card" *ngFor="let item of caseslist; let i = index">

    <div class="row-top">
      <span class="slno">{{ i + 1 }}</span>

      <ion-checkbox
        [(ngModel)]="item.CaseCheck"
        (ionChange)="AddOrRemoveCaseCheck($event,i)">
      </ion-checkbox>

      <div class="code">{{ item.caseCode }}</div>
    </div>

    <div class="case-name">
      {{ item.caseName }}
    </div>

    <ion-item fill="outline" class="small-item">
      <ion-label position="stacked">Medications</ion-label>
      <ion-input [(ngModel)]="item.Medication"></ion-input>
    </ion-item>

    <div class="treatment-row">
      <span>On Treatment</span>
      <ion-checkbox
        [checked]="item.TreatmentSts == 'Y'"
        (ionChange)="P_REGULAR($event,i)">
      </ion-checkbox>
    </div>

  </div>

</div>

  <!-- Others -->
  <ion-item fill="outline" class="mt-10">
    <ion-label position="stacked">Others</ion-label>
    <ion-input
      [(ngModel)]="Remarksnote"
      placeholder="Enter other conditions">
    </ion-input>
  </ion-item>

  <!-- Save -->
  <ion-button expand="block" color="success" class="mt-10" (click)="Submit()">
    Save
  </ion-button>

<!-- </ion-content> -->