
/* NO DATA */
.no-data {
  text-align: center;
  padding: 25px 10px;
  color: #999;
}

.no-data ion-icon {
  font-size: 40px;
  color: #c5c5c5;
}

.no-data p {
  margin-top: 6px;
  font-size: 13px;
}