<ion-accordion-group expand="inset">

  <!-- ================= HISTORY ================= -->
  <ion-accordion value="history-main" class="main-accordion">
    <ion-item slot="header" class="section-header">
      <ion-label>History</ion-label>
    </ion-item>
    <div class="ion-padding content-section" slot="content">
      <app-p-a-history> </app-p-a-history>
    </div>
  </ion-accordion>

  <ion-accordion value="examination-main" class="main-accordion">
    <ion-item slot="header" class="section-header">
      <ion-label>Examination</ion-label>
    </ion-item>

    <!-- <app-p-a-history> </app-p-a-history> -->

  </ion-accordion>

  <ion-accordion value="mse-main" class="main-accordion">
    <ion-item slot="header" class="section-header">
      <ion-label>Mental Status Examination</ion-label>
    </ion-item>

    <!-- <app-p-a-history> </app-p-a-history> -->

  </ion-accordion>

  <ion-accordion value="formulation-main" class="main-accordion">
    <ion-item slot="header" class="section-header">
      <ion-label>Formulation</ion-label>
    </ion-item>

    <!-- <app-p-a-history> </app-p-a-history> -->

  </ion-accordion>

  <ion-accordion value="treatment-plan-main" class="main-accordion">
    <ion-item slot="header" class="section-header">
      <ion-label>Treatment Plan</ion-label>
    </ion-item>

    <!-- <app-p-a-history> </app-p-a-history> -->

  </ion-accordion>
</ion-accordion-group>