<div class="tabs-container">

  <ion-segment scrollable="true" class="custom-segment">

    <ion-segment-button (click)="Adult()">
      <ion-label>Adult</ion-label>
    </ion-segment-button>

    <ion-segment-button (click)="Child()">
      <ion-label>Child</ion-label>
    </ion-segment-button>

    <ion-segment-button (click)="Complaints()">
      <ion-label>Complaints</ion-label>
    </ion-segment-button>

    <ion-segment-button (click)="OrderTest()">
      <ion-label>Order Test</ion-label>
    </ion-segment-button>

    <ion-segment-button (click)="MedicinePrescription()">
      <ion-label>Prescription</ion-label>
    </ion-segment-button>

    <ion-segment-button (click)="TreatmentPlan()">
      <ion-label>Treatment</ion-label>
    </ion-segment-button>

    <ion-segment-button (click)="Summary()">
      <ion-label>Summary</ion-label>
    </ion-segment-button>

  </ion-segment>

</div>

<router-outlet></router-outlet>